<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<h3>Feel free to get in touch with your questions</h3>
<p>01 52568 5585</p>
<p>JEWEL@JEWEL.com</p>
<p>JEWEL, 1 Building Name, 45 Street, Dublin</p>
