<% provide(:title, "Delivery&Returns") %>
<h1>Delivery & Returns</h1>
<p>Delivery throughout Ireladn and Uk at teh fixed cost of €5.95</p>
<p>Returns go to: JEWEL, 1 Building Name, 45 Street, Dublin </p>
