<div class="container-fluid"><!-- container to hold all products-->
<% if @recentview == nil %>
<% else %>
<h5 class="text-center">Recently Viewed</h5>
    <div class="row">
        <div class="col-sm-1"></div>
         <% @recentview.limit(5).order(created_at: :desc).each do |item| %>
         <div class="col-sm-2">
            <div class="card">
                <img src="<%= item.item.image.url (:medium) %>" class="card-img-top jw-img-bestselling" />
              <div class="card-body">
                <a href="/items/<%= item.item.id %>" class="btn btn-block btn-secondary"><%= number_to_currency(item.item.price, :unit => "€") %></a>
              </div>
            </div>
        </div>
      <% end %> 
    </div>
<% end %>
</div>