<div class="container-fluid account-container">
    <div class="row justify-content-center">
        
        <div class="col-12 text-center">
            <a href="/useraccount/welcome" class="btn btn-secondary">Account</a>
            <a href="/useraccount/userorders" class="btn btn-secondary">Orders</a>
           <%= link_to 'Update Profile', edit_user_registration_path, :class => "btn btn-secondary" %>
           <a href="/wishlist" class="btn btn-secondary">Wishlist</a>
        </div>
        
    </div>
</div>