

<% if current_user.try(:adminrole?) %>


<div class="container-fluid account-container">
    <div class="row justify-content-center">
        
        <div class="col-12 text-center">
            <a href="/orders" class="btn btn-secondary">View Orders</a>
            <a href="/users" class="btn btn-secondary">Users</a>
            <a href="/reviews" class="btn btn-secondary">Reviews</a>
        </div>
        
    </div>
</div>


<% end %>