





    
    <h5>Reviews</h5>

  
    <% @reviews.each do |review| %>
  
    <p><strong>User: </strong><%= review.user.username %></p>
  
  
    <p><strong>Rating: </strong><%= review.rating %> </p>
  
    <p><strong>Title: </strong><%= review.title %></p>
 
    <p> <strong>Description: </strong><%= review.description %></p>
    <br>
  
  <% end %>

    

    
